
<section>
    <div class="container">
      <h1 style="text-align: center;">
        Help Puggy understand your interests, so we can tailor the information
        feed to match your prefereces.
      </h1>
  
      <input
        type="text"
        placeholder="Search your interest"
        class="searchbar landing-search"
      />
      <div class="horizantal-line"></div>
      <div class="interests" style="top: 30px">
        <div class="interest">Product Management</div>
        <div class="interest">Internal Launches</div>
        <div class="interest">Health</div>
        <div class="interest">Music</div>
        <div class="interest">Duet AI</div>
        <div class="interest">Internal Launches</div>
        <div class="interest">Art</div>
        <div class="interest">Music</div>
        <div class="interest">Wellbeing</div>
        <div class="interest">Product Management</div>
        <div class="interest">Health</div>
        <div class="interest">Internal Launches</div>
        <div class="interest">Duet AI</div>
        <div class="interest">Music</div>
        <div class="interest">Internal Launches</div>
        <div class="interest">Art</div>
        <div class="interest">Music</div>
        <div class="interest">Wellbeing</div>
        <div class="interest">Product Management</div>
        <div class="interest">Health</div>
        <div class="interest">Duet AI</div>
        <div class="interest">Internal Launches</div>
        <div class="interest">Art</div>
        <div class="interest">Music</div>
        <div class="interest">Wellbeing</div>
        <div class="interest"><i class="fa-solid fa-arrow-right"></i>See All</div>
      </div>
    </div>
  </section>