<main>
    <div class="feed-layout">
        <div>left bar</div>
        <div class="feed-content">
            <div class="feed-card">
                <div class="feed-card-header">
                    <div class="post-author-details">
                        <a href="">
                            <img
                              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Sachin-Tendulkar_%28cropped%29.jpg/220px-Sachin-Tendulkar_%28cropped%29.jpg"
                              alt="AuraeNABLED"
                              class="post-author"
                            />
                        </a>
                        <span class="author-name">Brahmaji</span>
                    </div>
                    <div class="more">More</div>
                </div>
                <div class="feed-card-body">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Sachin-Tendulkar_%28cropped%29.jpg/220px-Sachin-Tendulkar_%28cropped%29.jpg"
                        alt="AuraeNABLED"
                        class="post-body"
                    />
                </div>
                <div class="feed-card-footer">
                    <div>Like</div>
                    <div>Comment</div>
                    <div>Share</div>
                </div>
            </div>
        </div>
        <div>right bar</div>
    </div>
</main>